@use '../01-usables/usables' as *;

button {
    background-color: $secondary;
    color: $white;
    font-size: $text-6;
    outline: none;
    border: none;
    padding: 15px 35px;
    cursor: pointer;

    &:hover {
        background-color: $primary;
        transition: ease;
    }

    i {
        color: $white;
    }

    &.small-button {
        font-size: $text-p;
        padding: 8px 12px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: 5px;
    }

    &.black {
        i {
            color: $black;
        }
        color: $black;
    } 

    a {
        color: $white;
        text-decoration: none;

        &:hover {
            color: $white;
        }
    }
}