@use '../01-usables/usables' as *;

.container {
    margin: 0 auto;
    width: 50vw;
    min-width: 300px;

    // *, *::before, *::after {
    //     // box-sizing: border-box;
    //     // border: 1px solid red;
    // }
}

main {
    padding: $space-l 0;
    // *, *::before, *::after {
    //     // box-sizing: border-box;
    //     // border: 1px solid green;
    // }
}