@use "../01-usables/usables" as *;

table {
    min-width: 300px;
    max-width: 650px;
    overflow: scroll;
    border-collapse: collapse;
    td {
        padding: 2px 50px 2px 0;

        &.emphasize {
            font-weight: bold;
            color: $secondary;
        }

        &.colspan-3 {
            width: 300%;
        }

        &.colspan-2 {
            width: 50%;
        }

        &.colspan-4 {
            width: 100%;
        }
    }
}
