@use "../01-usables/usables" as *;

.contact {
    width: 70vw;
    background-color: $tertiary;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    position: relative;
    left: -10vw;
    place-content: center;
    padding: $space-xl 0;
    color: $black;

    h2 {
        text-align: center;
    }

    form {
        display: flex;
        z-index: 1;
        flex-flow: column wrap;
        align-items: center;
        width: 70%;
        gap: $space-xs;

        label {
            font-size: $text-6;
        }

        h6 {
            font-weight: 400;
        }

        .contact-form-naam,
        .contact-form-behandeling,
        .contact-form-opmerkingen {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column wrap;

            // *, *::before, *::after {
            //     outline: 1px black solid;
            // }

            &-boxes {
                display: inherit;
                flex-flow: row wrap;
                justify-content: space-between;
                width: 100%;
            }
        }

        textarea {
            width: calc($space-xl * 8);
            height: calc($space-xl * 3);
        }

        textarea,
        input[type="text"] {
            outline: none;
            border: 1px solid #29100080;
            background-color: #ead4c6;
            padding: calc($space-xs * 0.75) $space-xs;

            &:focus {
                border: 1px solid $black;
            }
        }

        input[type="checkbox"] {
            &:checked {
                background-color: $secondary;
            }
        }
    }

    .contact-decor {
        position: absolute;
        img {
            width: 78vw;
        }
    }
    .contact-background {
        background-color: #FFE9c1;
        width: 100vw;
        z-index: -1;
        position: absolute;
        top: 50%;
        // margin-top: calc(50% + $space-xl);
        height: 100vh;
        box-shadow: 0 100vh 0 #FFE9c1;
    }
}
