@use "../01-usables/usables" as *;


.contact-cta-links {
    display: flex;
    gap: $space-s;
    flex-flow: column wrap;
    align-items: baseline;
    justify-content: baseline;

    i {
        font-size: 1.5rem;
    }

    p,
    a {
        line-height: 0.8rem;
    }

    a:hover {
        color: $secondary;
    }

    .icon {
        margin-right: $space-xs;
        display: flex;
        align-items: center;
        align-content: center;
    }

    .contact-bellen,
    .contact-email {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }

    .contact-social-media {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;

        a {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
        }
    }
}
