@use "../01-usables/usables" as *;

footer {
    background-color: #ba935a;
    
    .footer-navigation {
        padding: $space-m $space-s $space-xl;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: baseline;
        
        h6 {
            padding-bottom: 0.3rem;
        }
        
        li {
            list-style-type: none;
            font-size: $text-6;

            & > a {
                font-size: $text-6;
                color: $black;
                text-decoration: none;
                
                &:hover {
                    text-decoration: underline;
                    color: $black;
                }
            }
        }
    }

    .footer-disclaimer {
        background-color: $white;
        color: $black;
        width: 100vw;
        padding: 0.8rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;

        p {
            width: 30%;
        }

        p, a {
            font-size: $text-6;
        }
    }
}
