@use "../01-usables/usables" as *;

.regular {
    header {
        position: relative;
        height: calc(5 * $text-2);
        margin-top: calc($text-6 * 6);
        width: 100vw;


        .header-background {
            width: 100vw;
            background-color: $primary;
            overflow: hidden;
            height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            
            z-index: -2;
            margin-top: calc(-5px);

            img {
                width: 100%;
                // opacity: 0.5;
                // filter: blur(3px);
                flex-shrink: 0;
            }
        }
    }
    .header-title {
        height: inherit;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
        // background-color: green;
        
        h1 {
            font-size: $text-2;
            padding: $space-xs $space-m;
            background-color: $white;
            z-index: 1;
            color: $black;
        }
    }
}
