@use "../01-usables/usables" as *;

.regular {
    header {
        position: relative;
        height: calc(5 * $text-2);
        margin-top: calc($text-6 * 6);
        width: 100vw;

        .header-title {
            background-color: #ba935a80;
            height: inherit;
            width: 100vw;
            display: flex;
            align-items: center;
            backdrop-filter: blur(3px);
            justify-content: center;
            h1 {
                font-size: $text-2;
                padding: $space-xs $space-m;
                background-color: white;
                z-index: 1;
                color: $black;
            }
        }

        .header-background {
            width: 100vw;
            background-color: $primary;
            overflow: hidden;
            margin-top: calc(-5 * $text-2);
            height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: -1;

            img {
                width: 100%;
                // min-height: 100%;
                flex-shrink: 0;
            }
        }
    }
}
