@use "../01-usables/usables" as *;

.quote {
    align-self: center;
    width: 70vw;
    position: relative;
    // left: -10vw;
    top: -20vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    h3 {
        text-align: center;
    }

    article {
        padding: $space-xs 0 $space-l;
        width: 70vw;
        display: flex;
        flex-flow: row wrap;
        gap: 2%;
        justify-content: center;
        p {
            width: clamp(250px, 49%, 40ch);
        }
    }

    .quote-starline {
        width: min(390px, 50vw);
        img {
            width: 100%;
        }
    }
}
