$white: #F3F7F7;
$black: #291000;
$primary: #7B420F;
$secondary: #A8763E;
$tertiary: #EBC284;


$text--2: clamp(0.6944rem, 0.6438rem + 0.2531vw, 0.84rem);
$text-p: clamp(0.8333rem, 0.758rem + 0.3768vw, 1.05rem);
$text-6: clamp(1rem, 0.8913rem + 0.5435vw, 1.3125rem);
$text-5: clamp(1.2rem, 1.0467rem + 0.7663vw, 1.6406rem);
$text-4: clamp(1.44rem, 1.2276rem + 1.0622vw, 2.0508rem);
$text-3: clamp(1.728rem, 1.4374rem + 1.453vw, 2.5635rem);
$text-2: clamp(2.0736rem, 1.6803rem + 1.9665vw, 3.2043rem);
$text-1: clamp(2.4883rem, 1.9606rem + 2.6385vw, 4.0054rem);

$space-3xs: clamp(0.25rem, 0.2283rem + 0.1087vw, 0.3125rem);
$space-2xs: clamp(0.5rem, 0.4565rem + 0.2174vw, 0.625rem);
$space-xs: clamp(0.75rem, 0.6848rem + 0.3261vw, 0.9375rem);
$space-s: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
$space-m: clamp(1.5rem, 1.3696rem + 0.6522vw, 1.875rem);
$space-l: clamp(2rem, 1.8261rem + 0.8696vw, 2.5rem);
$space-xl: clamp(3rem, 2.7391rem + 1.3043vw, 3.75rem);
$space-2xl: clamp(4rem, 3.6522rem + 1.7391vw, 5rem);
$space-3xl: clamp(6rem, 5.4783rem + 2.6087vw, 7.5rem);