@use "../01-usables/usables" as *;

@media screen and (max-width: 800px) {
    .contact-pagina {
        flex-flow: column-reverse wrap;

        section.form {
            border-bottom: 1px solid $secondary;
            padding-bottom: $space-xl;
            width: fit-content;
        }

        .contact-cta-links {
            display: flex;
            flex-flow: column wrap;
            align-items: left;
            justify-content: space-evenly;
        }
    }
}

@media screen and (min-width: 800px) {
    .contact-pagina {
        flex-flow: row nowrap;
        position: relative;
        gap: $space-xl;
        place-self: center;
        width: fit-content;
        left: 0;
        
        section.form {
            border-left: 1px solid $secondary;
            padding-left: $space-xl;
            width: min-content;
        }

        section.contact-cta {
            width: fit-content;
        }
    }
}

.contact-pagina {
    display: flex;
    align-items: baseline;
    justify-content: left;

    .links a {
        display: flex;
        align-items: center;
        flex-flow: row wrap;
    }
}

#map {
    iframe {
        width: 50vw;
        min-width: 300px;
    }
}
